force-app/main/default/flows/create_order_for_Multiple_Products.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <constants>
        <name>AccountID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>001aj00000lB9zNAAS</stringValue>
        </value>
    </constants>
    <constants>
        <name>Contractnumber</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>100.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Statusoforder</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Draft</stringValue>
        </value>
    </constants>
    <environments>Default</environments>
    <interviewLabel>Create Order for Multiple Products {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Order</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    
    <!-- Record to create the Order -->
    <recordCreates>
        <name>Create_Order</name>
        <label>Create Order</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Create_order_line_item</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>lastdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>get_price_book_entery_id_of_product.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    
    <!-- Loop through multiple products and quantities and create Order Items -->
    <loop>
        <name>LoopThroughProducts</name>
        <label>Loop Through Products</label>
        <locationX>300</locationX>
        <locationY>400</locationY>
        <connector>
            <targetReference>Create_order_line_item</targetReference>
        </connector>
        <loopVariable>
            <name>ProductDetails</name>
            <dataType>Record</dataType>
            <isCollection>true</isCollection>
        </loopVariable>
        <inputAssignments>
            <field>ProductDetails</field>
            <value>
                <elementReference>ProductsAndQuantities</elementReference>
            </value>
        </inputAssignments>
    </loop>
    
    <!-- Record to create the Order Line Items -->
    <recordCreates>
        <name>Create_order_line_item</name>
        <label>Create Order Line Item</label>
        <locationX>400</locationX>
        <locationY>500</locationY>
        <inputAssignments>
            <field>OrderId</field>
            <value>
                <elementReference>Create_Order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>get_price_book_entery_id_of_product.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>ProductDetails.ProductId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>ProductDetails.Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>get_price_book_entery_id_of_product.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    
    <!-- Get Pricebook Entry ID -->
    <recordLookups>
        <name>get_price_book_entery_id_of_product</name>
        <label>Get Pricebook Entry ID</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopThroughProducts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductDetails.ProductId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>

    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_price_book_entery_id_of_product</targetReference>
        </connector>
    </start>
    
    <!-- Variables -->
    <variables>
        <name>lastdate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$System.OriginDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <description>Collection of Product IDs and Quantities for the order</description>
        <name>ProductsAndQuantities</name>
        <dataType>Record</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
